<ion-footer class="ion-footer">
  <ion-toolbar>
    <ion-buttons slot="start">
      <a href="URL_DO_SEU_INSTAGRAM" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="URL_DO_SEU_YOUTUBE" target="_blank">
        <ion-icon name="logo-youtube"></ion-icon>
      </a>
      <a href="URL_DO_SEU_LINKEDIN" target="_blank">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title slot="end">Feito pela 4CSS</ion-title>
  </ion-toolbar>
</ion-footer>
<router-outlet></router-outlet>
