<ion-header>
  <ion-toolbar>
    <ion-title>INSUMOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="ingredientForm" class="container">
    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>NOME:</ion-label>
        <ion-input formControlName="productName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>DESCRIÇÃO:</ion-label>
        <ion-input formControlName="productDescription"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="ingredientForm.invalid">Salvar insumo</ion-button>
    </form>
  </div>
</ion-content>