<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="ingredientForm" class="container">
    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label>Ingrediente 1:</ion-label>
        <ion-select formControlName="productId">
          <ion-select-option *ngFor="let product of products" [value]="product.id">
            {{ product.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>UNIDADE:</ion-label>
        <ion-input type="number" formControlName="unity"></ion-input> <!-- alterado para unity -->
    </ion-item>

    <ion-item>
        <ion-label>PESO:</ion-label>
        <ion-input type="number" formControlName="weight"></ion-input> <!-- alterado para weight -->
    </ion-item>

      <ion-button expand="full" type="submit" [disabled]="ingredientForm.invalid">Criar Produto</ion-button>

    </form>
  </div>
</ion-content>
