<div *ngIf="recipeForm" class="container">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Recipe Title</ion-label>
      <ion-input formControlName="recipeTitle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Recipe Description</ion-label>
      <ion-input formControlName="recipeDescription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Recipe Time</ion-label>
      <ion-input formControlName="recipeTime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Recipe Difficulty</ion-label>
      <ion-input formControlName="recipeDifficulty"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Dish Type</ion-label>
      <ion-input formControlName="recipeDishType"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Additional Features</ion-label>
      <ion-input formControlName="recipeAdditionalFeatures"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Total Guests</ion-label>
      <ion-input formControlName="recipeTotalGuests"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Author Name</ion-label>
      <ion-input formControlName="authorName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Author Whatsapp</ion-label>
      <ion-input formControlName="authorWhatsapp"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Product Name</ion-label>
      <ion-input formControlName="productName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Product Description</ion-label>
      <ion-input formControlName="productDescription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingredient Name</ion-label>
      <ion-input formControlName="ingredientName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingredient Unity</ion-label>
      <ion-input formControlName="ingredientUnity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingredient Weight</ion-label>
      <ion-input formControlName="ingredientWeight"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="recipeForm.invalid">Submit</ion-button>
  </form>

  <ion-button expand="full" color="light" (click)="goBack()">Go Back</ion-button>
</div>
