ion-header {
  ion-toolbar {
    background-color: #4a4a4a;
    ion-title {
      color: white;
    }
  }
}

ion-content {
  ion-list {
    ion-item {
      margin-bottom: 10px;
      ion-label {
        font-weight: bold;
      }
    }
  }

  ion-fab-button {
    --background: #3880ff;
    ion-icon {
      color: white;
      font-size: 24px;
    }
  }
}
