<div class="recipe-creator">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div>
          <label for="name">Name:</label>
          <input id="name" type="text" formControlName="name">
      </div>

      <div>
          <label for="description">Description:</label>
          <input id="description" type="text" formControlName="description">
      </div>

      <div>
          <label for="time">Time:</label>
          <input id="time" type="text" formControlName="time">
      </div>

      <div>
          <label for="difficulty">Difficulty:</label>
          <input id="difficulty" type="text" formControlName="difficulty">
      </div>

      <div>
          <label for="dish_type">Dish Type:</label>
          <input id="dish_type" type="text" formControlName="dish_type">
      </div>

      <div>
          <label for="additional_features">Additional Features:</label>
          <input id="additional_features" type="text" formControlName="additional_features">
      </div>

      <div>
          <label for="total_guests">Total Guests:</label>
          <input id="total_guests" type="text" formControlName="total_guests">
      </div>

      <div>
          <label for="author_id">Author ID:</label>
          <input id="author_id" type="text" formControlName="author_id" readonly>
      </div>

      <div>
          <label for="ingredients">Ingredients:</label>
          <textarea id="ingredients" type="text" formControlName="ingredients"></textarea>
      </div>

      <div>
          <button type="submit">Submit</button>
      </div>
  </form>
</div>
