<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="productForm" class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-label>Ingrediente:</ion-label>
        <ion-select formControlName="produto_id"> <!-- alterado para produto_id -->
          <ion-select-option *ngFor="let product of ingredients" [value]="product.id">
            {{ product.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>NOME:</ion-label>
        <ion-input type="text" formControlName="name"></ion-input> <!-- alterado para unity -->
      </ion-item>

      <ion-item>
        <ion-label>UNIDADE:</ion-label>
        <ion-input type="number" formControlName="unity"></ion-input> <!-- alterado para unity -->
      </ion-item>

      <ion-item>
        <ion-label>PESO:</ion-label>
        <ion-input type="number" formControlName="weight"></ion-input> <!-- alterado para weight -->
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="productForm.invalid">Criar Produto</ion-button>

    </form>
  </div>
</ion-content>