<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Mensagem de boas-vindas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo à Home Page!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esperamos que você tenha uma ótima experiência aqui.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

