<ion-header>
  <ion-toolbar>
    <ion-title>Criar Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input [(ngModel)]="user.name" placeholder="Escreva seu nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Whatsapp</ion-label>
      <ion-input [(ngModel)]="user.whatsapp" placeholder="Escreva seu Whatsapp"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveProfile()">Salvar perfil</ion-button>
</ion-content>
